doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://cdn.blackcreeper.com/stylesheets/bootstrap.min.css')
    script(type="text/javascript", src="http://cdn.blackcreeper.com/javascripts/jquery.min.js")
    script(type="text/javascript", src="http://cdn.blackcreeper.com/javascripts/bootstrap.min.js")
    script(type="text/javascript", src="/javascripts/app.js")
  body
    block content